body {
    padding:5px;
    font: 12px 'Roboto', Georgia, Times, serif;
    background-color: white;
}

h1, h2, h3, h4, h5 {
    color: #00557c;
    padding: 16px;
}

label{
    font-size: 11px;
}

input {
    font-size:10px;
}

.logout:hover {
    font-weight: 300;
}

.webkit {
    font-size:12px;
     transition-duration: 0.4s;
}

.webkit:hover {
    border-radius: 12px;
    text-decoration: none;
}

/* code xprof Laurent Dairaine */

.card-header {
        padding-top: 0px;
        padding-bottom: 0px;
}

.eval_done{
    font-size:18px;
    float: right;
}

.insufisant{
     color: white;
     background-color: #dc3545;
     border-radius: 5px;
}

.faible{
    color: white;
    background-color: #ffc107;
    border-radius: 5px;
}

.vise{
    color: white;
    background-color: #28a745;
    border-radius: 5px;
}

.audela{
    color: white;
    background-color: #17a2b8;
    border-radius: 5px;
}

.btn-link {
    font-weight: 100;
    color: black;
}

.lo-comment {
    font-size: 12px;
    line-height: 12px;
    margin-left: 6px;
    font-weight: 100;
}

.btn-width{
    min-width: 100px;
}

.btn-left {
    text-align: left;
}

.form-control {
    font-weight: 300;
}

/* mon code css */

.right{
    text-align: right;
}

.btn-edit{
    font-size:12px;
}

.btn-edit:hover{
    background-color: #00B7FF;
}

.btn2 {
    background-color: #00B7FF; /*blue*/
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn2:hover {
    background-color: #0091d1; /*blue*/
    border-radius: 30px;
    color: white;
}

.btn3 {
    border: 2px solid #3333ff;
    font-size: 12px;
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn3:hover {
    background-color: #0091d1; /*blue*/
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

user{
    color:white;
    font-weight: bold;
    background-color: #3333ff;
    padding: 2px 5px;
    margin: 2px 3px;
    border-radius: 5px;
}

.subtitle{
    color: #00557c;
    padding: 6px 18px;
    margin-bottom: 10px;
}


tr{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
tr:hover{
    background-color: #dfdee9;
}

th{
    font-size:12px;
    color: white;
    background-color: #487894;
}

td{
    font-size:10px;
    vertical-align: center;
}

#app_title{
    font-size: 50px;
    color: #00557c;
    padding:16px;
}

#err {
    color: red;
    padding:2px;
    font-size: large;
}

.graybutton{
    background-color:gray;
    color:white;
}

.redbutton{
    background-color: #dc3545;
    color:white;
}

.yellowbutton{
    background-color: #ffc107;
    color:white;
}

.greenbutton{
    background-color: #28a745;
    color:white;
}

.bluebutton{
    background-color: #17a2b8;
    color:white;
}

.btn:disabled{
    opacity: 1;
}