{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block logout %}
    <a class="btn2" href="{% url "logout" %}" style="float:right;background-color:#dc3545;"><i class="fas fa-sign-out-alt"></i> Log out</a>
{% endblock %}

{% block menu %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

    <h1>CAS</h1>
    <h2>Central Authentication Service</h2>
    <hr>

    <p id="err">{{ auth_message }}</p>

    <form action="{% url "authentication" %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Submit" />
    </form>

{% endblock %}