{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block welcome %}
{% endblock %}


{% block menu %}

<nav class="navbar fixed-top navbar-dark bg-dark">
    <p  style="margin:0px 0px;" class="navbar-brand" href="#">xProf</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">{% block nav %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/admin/">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout" href="{% url 'logout' %}">Log out</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
            </li>
        </ul>
{% endblock %}
    </div>
</nav>

{% endblock %}



{% block breadcrumb %}
{% endblock %}

{% block content %}
    <h1>CAS</h1>
    <h2>Central Authentication Service</h2>
    <hr>

    <p id="err">{{ auth_message }}</p>

    <form action="{% url "authentication" %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Submit" />
    </form>

{% endblock %}