{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block breadcrumb_content %}
     <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evaluate' %}">Evaluate</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ course_name }}</li>
{% endblock %}

{% block content %}

   <br>
   <form action="{% url 'evaluate_course' course_slug %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source}}

        <div class="form-group">
            {{ form.concerned.errors }}
            <label>{{ form.concerned.label_tag }}</label>
            {{ form.concerned }}
        </div>

        <div class="form-group">
            {{ form.general.errors }}
            <label>{{ form.general.label_tag }}</label>
            {{ form.general }}
        </div>

       <div class="accordion" id="accordionExample">

        {% for skill in skills %}

             <div class="card">
                <div class="card-header collapsed" data-toggle="collapse" id="heading{{ skill.id }}">
                    <h5 class="mb-0">
             <button class="btn btn-link btn-left" type="button" data-toggle="collapse" data-target="#collapse{{ skill.id }}" aria-expanded="false" aria-controls="collapse{{ skill.id }}">
                <i class="fa fa-play"></i> {{ skill.name }} <i id="arrow{{ skill.id }}" class="fa"></i>
             </button>
             </h5>
                </div>

                <div id="collapse{{ skill.id }}" class="collapse" aria-labelledby="heading{{ skill.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <p class="text-right">
                                    <input id="choose_ins_{{ skill.id }}" value='Insufficient' type="button" class="btn btn-danger btn-width">
                                </p>
                            </div>
                            <div class="col-9">
                                <p class="lo-comment" style="margin-left: 40px;">
                                    {{ skill.insufficient }}</p>
                            </div>
                            <div class="col-3">
                                <p class="text-right">
                                    <input   id="choose_wea_{{ skill.id }}" value="Weak" type="button" class="btn btn-warning btn-width">
                                </p>
                            </div>
                            <div class="col-9">
                                <p class="lo-comment" style="margin-left: 40px;">
                                   {{ skill.weak }}</p>
                            </div>
                            <div class="col-3">
                                <p class="text-right">
                                    <input  id="choose_aim_{{ skill.id }}" value="Aimed at" type="button" class="btn btn-success btn-width">
                                </p>
                            </div>
                            <div class="col-9">
                                <p class="lo-comment" style="margin-left: 40px;">
                                    {{ skill.aimed_at }}</p>
                            </div>
                            <div class="col-3">
                                <p class="text-right">
                                    <input  id="choose_bey_{{ skill.id }}" value="Beyond" type="button" class="btn btn-info btn-width">
                                </p>
                            </div>
                            <div class="col-9">
                                <p class="lo-comment" style="margin-left: 40px;">
                                    {{ skill.beyond }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Comment on this specific skill</label>
                                    <input type="text" class="form-control" maxlength="400" name="comment_{{ skill.id }}">
                                    <select hidden id="select{{ skill.id }}" class="form-control graybutton" name="level_{{ skill.id }}">
                                        <option  id='test{{ skill.id }}' class="graybutton notselected" value=5 selected>Don't evaluate</option>
                                        <option  class="redbutton insufisant" value=1>Insufficient</option>
                                        <option class="yellowbutton faible" value=2>Weak</option>
                                        <option class="greenbutton vise" value=3>Aimed at</option>
                                        <option class="bluebutton audela" value=4>Beyond</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

        {% endfor %}

        </div>
        <br>
         <div style="text-align: center;">
             <input type="submit" class="btn btn-success" value="Save evaluation" />
         </div>

   </form>

    <script>
        $(document).ready(function(){
            $('input[id^="choose_"]').click(function () {
                 let id=this.id.slice(11);
                 let value=this.id.slice(7,10);

                 if(value==='ins'){
                     $("#select"+id).val(1);
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(1));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(2));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(3));
                     document.getElementById('arrow'+id).classList.add('fa-check', 'big', 'insufisant');
                 }

                 if(value==='wea'){
                     $("#select"+id).val(2)
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(1));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(2));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(3));
                     document.getElementById('arrow'+id).classList.add('fa-check', 'big', 'faible');
                 }
                 if(value==='aim'){
                     $("#select"+id).val(3)
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(1));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(2));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(3));
                     document.getElementById('arrow'+id).classList.add('fa-check', 'big', 'vise');
                 }
                 if(value==='bey'){
                     $("#select"+id).val(4)
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(1));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(2));
                     document.getElementById('arrow'+id).classList.remove( document.getElementById('arrow'+id).classList.item(3));
                     document.getElementById('arrow'+id).classList.add('fa-check', 'big', 'audela');
                 }

            });
        });
    </script>

{% endblock %}