{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block nav %}
         <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#dc3545;" href="{% url 'evaluate' %}">Evaluate</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'courses' %}">My courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout" href="{% url 'logout' %}">Log out</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
            </li>
        </ul>
{% endblock %}

{% block breadcrumb_content %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses' %}">My courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course' course_slug %}">{{ course_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">New session</li>
{% endblock %}

{% block content %}

    <h2>{{ message }}</h2>

    <form action="{% url "new_session" course_slug %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input style="margin:5px;" type="submit" class="btn btn-success" value="Create session" />
        <a style="margin:5px;" class="btn btn-info" href="{% url "course" course_slug %}"><i class="fas fa-undo-alt"></i> Back to your course</a>
    </form>

{% endblock %}