{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block breadcrumb_content %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses' %}">My courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course' course_slug %}">{{ course_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">New session</li>
{% endblock %}

{% block content %}

    <h2>{{ message }}</h2>

    <form action="{% url "new_session" course_slug %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input style="margin:5px;" type="submit" class="btn btn-success" value="Create session" />
        <a style="margin:5px;" class="btn btn-info" href="{% url "course" course_slug %}"><i class="fas fa-undo-alt"></i> Back to your course</a>
    </form>

{% endblock %}