{% extends "base.html" %}

{% block welcome %}
{% endblock %}


{% block breadcrumb_content %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses' %}">My courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course' course_slug %}">{{ course_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ skill_name }}</li>
{% endblock %}


{% block content %}

    <h3> {{ course_name|title }}</h3>
    <h5> {{ skill_name }}</h5>
    <br>
    <div class="row">
                    <div class="col-3">
                        <p class="text-right">
                            <button class="btn btn-danger btn-width">Insufficient</button>
                        </p>
                    </div>
                    <div class="col-9">
                        <p class="lo-comment" style="margin-top: 10px;">
                           {{ insufficient }}</p>
                    </div>
                    <div class="col-3">
                        <p class="text-right">
                            <button class="btn btn-warning btn-width">Weak</button>
                        </p>
                    </div>
                    <div class="col-9" style="margin-top: 10px;">
                        <p class="lo-comment">
                            {{ weak }}</p>
                    </div>
                    <div class="col-3">
                        <p class="text-right">
                            <button class="btn btn-success btn-width">Aimed at</button>
                        </p>
                    </div>
                    <div class="col-9" style="margin-top: 10px;">
                        <p class="lo-comment">
                            {{ aimed_at }}</p>
                    </div>
                    <div class="col-3">
                        <p class="text-right">
                            <button class="btn btn-info btn-width">Beyond</button>
                        </p>
                    </div>
                    <div class="col-9" style="margin-top: 10px;">
                        <p class="lo-comment">
                            {{ beyond }}</p>
                    </div>
                </div>

{% endblock %}